<h1>All Contacts</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Send Message</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.first_name %></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.phonenumber %></td>
      <td><%= link_to 'sms'%></td>
      <td><%= link_to 'delete'%></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <br>
  <%= link_to 'New Contact', new_contact_path %>
